# OS X
*.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserdatad

# build
build/
Build/
DerivedData/

# temp nibs and swap files
*~.nib
*.swp
*.orig

# VSCode
.vscode

# CocoaPods
Pods

# AppCode
.idea

# Carthage
Carthage/Build
Carthage/Checkouts

# Clion
cmake-build*

.waf*
.lock-waf*

__pycache__/
*.py[cod]
*$py.class
